body {
  background: #fb415e;
  color: #fff;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 300;
  text-align: center;
}

header {
  width: 500px;
  margin: 30px auto;
}

img.weather-icon {
  width: 150px;
  float: left;
}

h1.temperature {
  font-size: 7.8em;
  float: left;
  font-weight: 300;
  margin-left: 25px;
  line-height: 1;
  margin-top: 5px;
  letter-spacing: -1px;
  margin-bottom: 0;
}

header p {
  float: right;
  margin-top: 0;
  width: 300px;
  text-align: left;
  font-size: 0.9em;
}