extends layout

block content
  header
    img.weather-icon(src="/images/sun.svg")
    h1.temperature #{avgTemperature}° 
    p Last survey @ #{lastSurvey}
   footer 
    div(class="ct-chart")
      script.
        new Chartist.Line('.ct-chart', {
          labels: [#{timeArray}],
          series: [
            [#{graph}]
          ]
        }, {
          low: 18,
          high: 21,
          showArea: true
        }); 